db
node_modules
config/config.json

docs

modules/*
!modules/base-module
!modules/player-auth
!modules/player-classes
!modules/renewable-params
!modules/motd
!modules/command-stats
!modules/command-inventory
!modules/command-take-drop
!modules/command-look
!modules/command-look-at
!modules/command-look-at-item
!modules/command-go
!modules/command-quit
!modules/command-hp
!modules/command-help
!modules/chat
!modules/afk-kick
!modules/system-monitoring
